@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Work+Sans&display=swap');

.App {
    min-height: 100vh;
    display: flex;
    background-image: url(../public/bg-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

.messages {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}